# ==== GENERAL ====
FASTAPI_ENV=development
# FASTAPI_ENV=production
URL_PROD=0.0.0.0
APP_HOST=0.0.0.0
APP_PORT=8080
MARKET_DATA_PROJECT_NAME=Investlink Market Data Api
MARKET_DATA_GUNICORN_WORKERS_PER_CORE=1.5
MARKET_DATA_GUNICORN_WEB_CONCURRENCY=4
MARKET_DATA_GUNICORN_LOG_LEVEL=info
MARKET_DATA_GUNICORN_KEEPALIVE=120
MARKET_DATA_GUNICORN_ERRORLOG=-
MARKET_DATA_SENTRY_DSN=https://ed89af1f321902a3984a12a9b7c57c42@o4507939017785344.ingest.de.sentry.io/4508064128827472

# ==== POSTGRES ====
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ==== REDIS ====
MARKET_DATA_REDIS_HOST=redis
MARKET_DATA_REDIS_PORT=6379

# ==== POLYGON ====
API_KEY=fmZjlZmcRcp77Y8JMyDnTwapp6ycTh5B